.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.container {
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#market-maker {
    .wapper-table {
        margin-top: 50px;
        margin-bottom: 50px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 5px;

            div {
                flex: 1;
            }
        }

        .child-table {
            display: flex;
            padding: 10px 0;
            border-top: 1px solid #38598c;
            align-items: center;
            cursor: pointer;

            .child {
                flex: 1;
                font-size: 12px;
               
            }
        }

        .child-detail {
            background-color: #bce0fd;
            border-radius: 8px;
            overflow: hidden;
            margin: 20px;

        }
    }
}